{% extends 'base.html.twig' %}

{% block title %}Le métabolisme basale{% endblock %}

{% block body %}
    <main class="metabase-main">
        <section class="metabase-first-section">
            <wrapper class="metabase-header">
                <div class="metabase-burger">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="metabase-title">
                    <h1>Le métabolimse basale</h1>
                </div>
            </wrapper>
            <div class="metabase-presentation">
                <h2>C'est quoi?</h2></br>
                <p>Le métabolisme basal ou métabolisme de base,
                 correspond à la quantité de calories dont le
                 corps a besoin au repos chaque jours pour
                 fonctionner.</p>
                <p>Les calories ingérer chaques jours ont donc
                 un impact sur la corpulance. Un excès apportera
                 une prise de masse tandis qu'un manque provoquera
                 une perte de poids</p>
                <p>Le métabolisme basale est défini en fonction du
                 sexe, de l'âge, de l'activité sportive, du poids
                  ainsi que de la taille. La génétique ainsi que
                 certaines pathologies tel que le diabète influe
                 également sur celle-ci.</p>
            </div>
            <div class="metabase-calcul">
                <h2>Comment le calculer</h2></br>
                <p>Pour connaître son métabolisme basale plusieurs
                 formules existent. REGARDER FICHIER EXPLIQUANT ET
                 DIRE CELLE CONCU POUR ET D4AUTRES CONCU POUR...</p>
            </div>
        </section>
    </main>
{% endblock %}